@import "src/utils/Colors";

.root {
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 12px;
  
  transition: background-color 0.75s ease-out, box-shadow 0.75s ease-out;
}

.rootLight {
  background-color: $background__light;
  box-shadow: 6px 6px 16px rgba($dark-shadow__light, 0.25), -6px -6px 12px rgba($light-shadow__light, 0.79);
}

.rootDark {
  background-color: $background__dark;
  box-shadow: 6px 6px 16px rgba($dark-shadow__dark, 0.63), -6px -6px 10px rgba($light-shadow__dark, 0.8);
}

.appear__light {
  animation: appear__light 1s ease-in-out;
}

@keyframes appear__light {
  from {
    background-color: transparent;
    box-shadow: none;
  }
  to {
    background-color: $background__light;
    box-shadow: 6px 6px 16px rgba($dark-shadow__light, 0.25), -6px -6px 12px rgba($light-shadow__light, 0.79);
  }
}

.appear__dark {
  animation: appear__dark 1s ease-in-out;
}

@keyframes appear__dark {
  from {
    background-color: transparent;
    box-shadow: none;
  }
  to {
    background-color: $background__dark;
    box-shadow: 6px 6px 16px rgba($dark-shadow__dark, 0.63), -6px -6px 10px rgba($light-shadow__dark, 0.8);
  }
}