@import "src/utils/Colors";

@mixin line {
  box-sizing: border-box;
  width: 24px;
  height: 4px;
  border-radius: 2px;
}

.root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.35s ease-out, background-color 0.35s ease-out;
  @include line;
  
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(90deg);
    
    @include line;
  }
  
  &.disabled {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.rootLight {
  background-color: $background__light;
  &:after {
    background-color: $background__light;
  }
  &.disabled {
    background-color: #C4C4C4;
    &:after {
      background-color: #C4C4C4;
    }
  }
}

.rootDark {
  background-color: $background__dark;
  &:after {
    background-color: $background__dark;
  }
  &.disabled {
    background-color: #C4C4C4;
    &:after {
      background-color: #C4C4C4;
    }
  }
}