@import "src/utils/Colors";

.root {
  position: relative;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  max-width: 48px;
  max-height: 48px;
  min-width: 48px;
  min-height: 48px;
  border-radius: 50%;
  transition: background-color 0.3s ease-out, box-shadow 0.5s ease-out;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.rootLight {
  background-color: $arrow-seconds-color__light;
  box-shadow: 4px 4px 8px rgba(140, 36, 36, 0.31), -4px -4px 8px #F3D8D8;
}

.rootDark {
  background-color: $arrow-seconds-color__light;
  box-shadow: 4px 4px 8px rgba(113, 16, 16, 0.31), -3px -3px 6px rgba(218, 97, 97, 0.3);;
}

.disabledLight {
  background-color: $background__light;
  box-shadow: -4px -4px 8px $light-shadow__light, 4px 4px 8px rgba($dark-shadow__light, 0.25);
}

.disabledDark {
  background-color: $background__dark;
  box-shadow: -6px -6px 10px rgba($light-shadow__dark, 0.5), 6px 6px 16px rgba($dark-shadow__dark, 0.63);
}