@import "src/utils/Colors";

.root {
  width: 64px;
  height: 28px;
  border-radius: 14px;
  box-sizing: border-box;
  
  position: relative;
  transition: box-shadow 0.75s ease-out, background-color 0.75s ease-out;
}

.rootLight {
  background: $background__light;
  box-shadow: inset 2px 2px 8px rgba($dark-shadow__light, 0.31), inset -4px -4px 12px rgba($light-shadow__light, 0.9);
}

.rootDark {
  background: $background__dark;
  box-shadow: inset 4px 4px 12px rgba($dark-shadow__dark, 0.31), inset -4px -4px 10px rgba($light-shadow__dark, 0.9);
}

.dot {
  position: absolute;
  top: 50%;
  left: 0;
  
  width: 20px;
  height: 20px;
  border-radius: 50%;
  
  transform: translate(4px, -50%);
  transition: transform 0.3s ease-out, background-color 0.75s ease-out;
  
  &.isOn {
    transform: translate(40px, -50%);
  }
}

.dotLight {
  background-color: #6988A3;
}

.dotDark {
  background-color: #F07070;
}