@import "src/utils/Colors";

.root {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: left center;
  border-radius: 2px;
  
  transition: background-color 0.75s ease-out;
}

.hours {
  width: 64px;
  height: 4px;
}

.hoursLight {
  background-color: $arrow-color__light;
}

.hoursDark {
  background-color: $arrow-color__dark;
}

.minutes {
  width: 82px;
  height: 4px;
}

.minutesLight {
  background-color: $arrow-color__light;
}

.minutesDark {
  background-color: $arrow-color__dark;
}

.seconds {
  width: 92px;
  height: 2px;
}

.secondsLight {
  background-color: $arrow-seconds-color__light;
}

.secondsDark {
  background-color: $arrow-seconds-color__dark;
}