@import "src/utils/Colors";

$thickness: 10px;

.root {
  $size: min(220px, 80vw);
  
  width: $size;
  height: $size;
  max-width: $size;
  max-height: $size;
  
  box-sizing: border-box;
  border-radius: 50%;
  
  transition: box-shadow 0.75s ease-out, border 0.75s ease-out;
  
  position: relative;
}

.rootLight {
  border: $thickness solid $background__light;
  box-shadow:
    -4px -4px 8px $light-shadow__light,
    6px 6px 12px rgba($dark-shadow__light, 0.24),
    inset 6px 6px 12px rgba($dark-shadow__light, 0.24),
    inset -4px -4px 8px $light-shadow__light;
}

.rootDark {
  border: $thickness solid #1F2830;
  box-shadow:
    6px 6px 16px rgba($dark-shadow__dark, 0.63),
    -6px -6px 10px rgba($light-shadow__dark, 0.8),
    inset -6px -6px 10px rgba($light-shadow__dark, 0.8),
    inset 6px 6px 16px rgba($dark-shadow__dark, 0.63);
}


.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transition: background-color 0.75s ease-out;
}

.dotLight {
  background-color: $arrow-color__light;
}

.dotDark {
  background-color: $arrow-color__dark;
}
