.container {
  position: relative;
  padding: 1rem;
}

.label {
  font-size: 20px;
  line-height: 27px;
  padding-bottom: 0.35rem;
}

.searchIcon {
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
}