@import "src/utils/Colors";

.root {
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 16px;
  height: 51px;
  font-size: 20px;
  color: inherit;
  width: 100%;
  transition: background-color 0.75s ease-out, box-shadow 0.75s ease-out;
}

.rootLight {
  background: $background__light;
  box-shadow: inset 2px 2px 8px rgba($dark-shadow__light, 0.31), inset -4px -4px 12px rgba($light-shadow__light, 0.9);
}

.rootDark {
  background: $background__dark;
  box-shadow: inset 4px 4px 8px rgba($dark-shadow__dark, 0.61), inset -4px -4px 12px rgba($light-shadow__dark, 0.8);
}