@import "src/utils/Colors";

.root {
  position: fixed;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  transition: transform 0.3s ease-out;
  overflow-x: hidden;
  overflow-y: auto;
  
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    pointer-events: none;
    background-color: transparent;
  
    transition: background-color 0.3s ease-out;
  }
}

.rootLight {
  color: $color__light;
  background: $background__light;
}

.rootDark {
  color: $color__dark;
  background: $background__dark;
}

.leaving {
  transform: translateX(-25vw) scale(0.9);
  
  &:after {
    pointer-events: auto;
    background-color: rgba(#000, 0.4);
  }
}

.hidden {
  transform: translateX(110vw);
}