@import "src/utils/Colors";

.root {
  border: none;
  margin: 0;
  border-radius: 12px;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 0 1rem;
  
  &:focus {
    outline: none;
  }
  
  transition: background-color 0.75s ease-out, box-shadow 0.75s ease-out;
}

.text {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.textClicked {
  animation: textClick 0.25s ease-out;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

@keyframes textClick {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.75);
  }
}

.clickAnimation__light {
  animation: clicked__light 0.25s ease-out;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

.clickAnimation__dark {
  animation: clicked__dark 0.25s ease-out;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

.rootLight {
  color: $arrow-seconds-color__light;
  background-color: $background__light;
  box-shadow: 6px 6px 16px rgba($dark-shadow__light, 0.25), -6px -6px 12px rgba($light-shadow__light, 0.79);
}

.rootDark {
  color: $arrow-seconds-color__dark;
  background-color: $background__dark;
  box-shadow: 6px 6px 16px rgba($dark-shadow__dark, 0.35), -6px -6px 10px rgba($light-shadow__dark, 0.79);
  
  &:focus {
    background-color: transparent;
    border: 4px solid $background__dark;
  }
}

@keyframes clicked__light {
  from {
    background-color: $background__light;
    border: 4px solid $background__light;
    box-shadow: 6px 6px 16px rgba($dark-shadow__light, 0.25), -6px -6px 12px rgba($light-shadow__light, 0.79);
  }
  to {
    background-color: transparent;
    border: 4px solid $background__light;
    box-shadow:
      6px 6px 16px rgba($dark-shadow__light, 0.25),
      -6px -6px 10px rgba($light-shadow__light, 1),
      inset 4px 4px 10px rgba($dark-shadow__light, 0.15),
      inset -6px -6px 12px rgba($light-shadow__light, 0.79);
  }
}

@keyframes clicked__dark {
  from {
    background-color: $background__dark;
    border: 4px solid $background__dark;
    box-shadow: 6px 6px 16px rgba($dark-shadow__dark, 0.25), -6px -6px 12px rgba($light-shadow__dark, 0.79);
  }
  to {
    background-color: transparent;
    border: 4px solid $background__dark;
    box-shadow:
      6px 6px 16px rgba($dark-shadow__dark, 0.25),
      -6px -6px 12px rgba($light-shadow__dark, 0.79),
      inset 6px 6px 16px rgba($dark-shadow__dark, 0.25),
      inset -4px -4px 10px rgba($light-shadow__dark, 0.5);
  }
}