@import "src/utils/Colors";

.root {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  
  box-sizing: border-box;
  transition: background-color 0.75s ease-out, color 0.35s ease-out;
}

.rootLight {
  color: $color__light;
  background: $background__light;
}

.rootDark {
  color: $color__dark;
  background: $background__dark;
}