$background__light: #F2F2F2;
$background__dark: #1F2830;

$color__light: #282828;
$color__dark: #C7CDD2;

$light-shadow__light: #fff;
$dark-shadow__light: #000;

$light-shadow__dark: #2e3b46;
$dark-shadow__dark: #0d1114;

$arrow-color__light: #3F3F3F;
$arrow-color__dark: #6988A3;

$arrow-seconds-color__light: #F07070;
$arrow-seconds-color__dark: #F07070;